/* .consultant{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5px;
}
.title{
    text-align: center;
}

.title p{
    width: 45vw;
} */

.card-box img{
    height: 53vh;
    width: 25vw;
}
.card-box{
    height: 53vh;
    overflow: hidden;
    box-shadow: 4px 5px 4px 0px grey;
}

.card-box .content .icon{
     display: flex;
     align-items: center;
     justify-content: center;
     gap: .5vw;
}
.card-box .content .icon p{
    padding: 5px 10px;
    background-color: #3e9c3e;
    color: #fff;
    border-radius: 50%;
    border: 1px solid white;
}

.card-box .content{
    height: 46vh;
    width: 24vw;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    color: #fff;
    background-color: rgb(165, 86, 86);
    bottom: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
    margin: 5px;
}

.p{
    visibility: hidden;
    margin: 20px;
    opacity: 0;
}

.card-box:hover{
    cursor: pointer;
}

.card-box:hover .content{
    height: 20vh;
    bottom: 240px;
    background-color: black;
}
.card-box:hover .p{
    opacity: 1;
    visibility: visible;
}