.title{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding-bottom: 70px;
   padding-top: 60px;
}
.title h3{
    margin-bottom: 10px;
    color: #222222;
    line-height: 1.2em;
    margin-top: 0;
    font-weight: 600;
    font-size: 36px;
}

.title p{
    width: 45vw;
}