.form{
    display: flex;
    justify-content: space-between;
}
.form .form-classtwo{
    background-color: white;
    margin-top: -85px;
    padding: 50px;
    box-shadow: 0px 10px 20px 0px rgba(153, 153, 153, 0.1);
}

.form .form-classone{
    /* flex: 0 0 41.66667%;
    max-width: 41.66667%; */
    margin-top: 100px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    gap: 15px
}